rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Characters/goal {
    	allow read: if true;
      allow write: if false;
    }
    match /highscore/highscore {
      allow read: if true; 
      allow write: if true;
    }
  }
}